
@{
    Layout = "~/Views/Shared/_RankLayout.cshtml";
    ViewData["Title"] = "Images";
}



<div class="row pt-2">

    <div class="col-4">
        <image-card url="https://www.ukrgate.com/eng/wp-content/uploads/2021/02/The-Ukrainian-Book-Institute-Purchases-380.9-Thousand-Books-for-Public-Libraries1.jpeg"
        alt="Book image 1"
        title="Książka 1"
        description="To jest pierwszy opis obrazka.">
        </image-card>
    </div>
        <div class="col-4">
        <image-card url="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/old-books-arranged-on-shelf-royalty-free-image-1572384534.jpg" 
        alt="Book image 2"
        title="Książka 2"
        description="To jest drugi opis obrazka.">
        </image-card>
    </div>
        <div class="col-4">
        <image-card url="https://leverageedu.com/blog/wp-content/uploads/2019/09/Importance-of-Books.jpg" 
        alt="Book image 3"
        title="Książka 3"
        description="To jest trzeci opis obrazka.">
        </image-card>
    </div>


</div>




